a {
	color: lightblue;
}

body {
	background-image: url(Facebook-Linkedin-image-template-10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	margin: 0;
}

.test {
	color: lightblue;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.courseName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	text-shadow: 5px 5px gray;
	padding: 10px;
}

.studentName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	text-shadow: 5px 5px gray;
	border-radius: 15px;
	padding: 10px;
}

.project {
	background: linear-gradient(to right, rgb(34, 32, 180), rgb(59, 2, 124));
	width: 5%;
	margin-left: 30px;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	scale: 1.3;
}