a {
	color: lightblue;
}

body {
	background-image: url(Facebook-Linkedin-image-template-10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	margin: 0;
}

.test {
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.courseName {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 5px 5px gray;
	padding: 10px;
}

.studentName {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 5px 5px gray;
	border-radius: 15px;
	padding: 10px;
}

.project {
	background: linear-gradient(to right, rgb(141, 24, 24), black);
	width: 5%;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

@keyframes scale-up-hor-center {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1);
	}
}

.scale-up-hor-center-normal {
	animation: scale-up-hor-center-normal 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s 1 normal both;
}